.back {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 80px;
    padding: 32px 0 0 0;
}

.back_button-l {
    width: 81px;
    height: 38px;
    padding: 0;
    border: 1px solid var(--grayLight);
    border-radius: 8px;
    background: transparent;
    color: var(--grayLight);
    font-family: var(--mainFont);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.187%;
    cursor: pointer;
}

.back_button-s {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    .back {
        margin: 0 0 0 16px;
        padding: 12px 0 0 0;
    }
}
