body {
  margin: 0;
  --violet: #512689;
  --black: #151317;
  --grayLight: #F8F8F8;
  --white: #FFFFFF;
  --red: #FF6161;
  --mainFont: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}